In [82]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
df = pd.read_csv('train.txt', sep = ';', header=None, names=['text', 'emotion'])

In [84]:
df.head()

                                                text  emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [85]:
df.isnull().sum()

text       0
emotion    0
dtype: int64

In [86]:
unique_emotions = df['emotion'].unique()
emotion_num = {}
c = 0
for emo in unique_emotions:
    emotion_num[emo] = c
    c += 1
df['emotion'] = df['emotion'].map(emotion_num)
df.head()

                                                text  emotion
0                            i didnt feel humiliated        0
1  i can go from feeling so hopeless to so damned...        0
2   im grabbing a minute to post i feel greedy wrong        1
3  i am ever feeling nostalgic about the fireplac...        2
4                               i am feeling grouchy        1

In [87]:
# string lowercasing
df['text'] = df['text'].apply(lambda x: x.lower())

In [88]:
import string
# remove punctuation
def remove_punctuation(text):
    text = text.translate(str.maketrans("", "", string.punctuation))
    return text

df['text'] = df['text'].apply(remove_punctuation)

In [89]:
# remove numbers
# both function work the same
"""def remove_numbers(text):
    text = text.translate(str.maketrans("", "", string.digits))
    return text"""
def remove_numbers(text):
    new = ""
    for char in text:
        if not char.isdigit():
            new += char
    return new
    
df['text'] = df['text'].apply(remove_numbers)

In [90]:
import re

def remove_urls(text):
    # This regex matches http://, https://, or www. links
    url_pattern = r'http\S+|www\S+'
    return re.sub(url_pattern, '', text)
df['text'] = df['text'].apply(remove_urls)

In [91]:
def remove_urls(text):
    new = ""
    for i in text:
        if i.isascii():
            new += i
    return new
df['text'] = df['text'].apply(remove_urls)

In [92]:
# NLTK(Natural language tool kit) is used to remove stopwords ( like is was, this , there)
import nltk

In [93]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [94]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('punkt', quiet=True)
nltk.download('stopwords', quiet=True)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [95]:
stop_words = set(stopwords.words('english')) # list of stopwords in English
print(stop_words)
print(len(stop_words))

{"needn't", 't', "we've", "haven't", "i'd", 'ours', 'when', "shan't", 'or', 'then', 'my', 'his', 'so', 'very', 'where', 'here', 'only', 'theirs', "they're", "couldn't", 'needn', 'we', 'over', 'won', 'aren', "wasn't", 'do', "weren't", 'its', 'and', 'above', 'can', "i'm", "it'll", 'against', 'couldn', 'she', 'nor', 'll', 'are', 'such', 'they', "we'll", 'itself', 'shouldn', 'is', 'that', 'with', "won't", 'again', "they'll", "you'd", 'no', 'weren', 'while', 'wasn', 'as', "doesn't", "don't", 'y', 'each', 'a', 'doing', 'being', 'don', 'what', 'yours', 'hasn', 'between', "he'd", 'once', 'themselves', "we'd", 'them', 'before', 'mustn', 'wouldn', 'under', 'he', 'into', 'isn', 'other', "she'll", 'didn', 'your', 'was', 'haven', 'mightn', 'if', "we're", 'down', "it's", "hadn't", 'some', 'too', 'having', 'how', 'an', 'more', 'you', 'about', 'hers', 'be', 'during', 'him', 'own', 'out', 'because', 'yourself', 'just', 'in', 'after', 'up', "shouldn't", 'few', 'at', 'most', "it'd", 'same', 'been', 'ourselves', 'there', "aren't", 'why', 'myself', "he'll", 'those', 'any', 'am', 's', 'me', 'which', "should've", 'both', "didn't", 'were', 'further', 'had', "you've", 'himself', 'not', 'ma', 'than', 'did', 'm', "mightn't", 'but', 'will', 'hadn', "mustn't", 'our', 'yourselves', 'all', 'off', 'on', "isn't", 'to', 'through', 'have', "they'd", 'by', 'this', 'herself', 'd', 'whom', 'doesn', 'should', 'these', 'below', 'has', 'of', "hasn't", 'until', 'now', "i'll", 'it', 'for', "he's", 'does', 'the', "wouldn't", "she'd", 're', 'shan', "i've", "that'll", "they've", 've', 'their', 'who', 'o', "you'll", 'her', 'i', "you're", "she's", 'from', 'ain'}
198

In [96]:
df.loc[1]['text']

'i can go from feeling so hopeless to so damned hopeful just from being around someone who cares and is awake'

In [97]:
"""def remove_wrds(text):
    word = word_tokenize(text)
    new = []
    for i in word:
        if i not in stop_words:
            new.append(i)
    return " ".join(new)"""
def remove_wrds(text):
    words = text.split()
    new = ""
    for i in words:
        if i not in stop_words:
            new += i + " "
    return new

df['text'] = df['text'].apply(remove_wrds)

In [98]:
df.loc[1]['text']

'go feeling hopeless damned hopeful around someone cares awake '